@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Source Han";
	src: url("../fonts/SourceHanSans-VF.ttf.ttc");
}
@font-face {
	font-family: 'Instrument sans';
	src: url("../fonts/InstrumentSans.ttf");
	font-style: normal;
}
@font-face {
	font-family: "NotoSans-Light";
	src: url("../fonts/NotoSansSC-Light.otf");
}
@font-face {
	font-family: "NotoSans-Thin";
	src: url("../fonts/NotoSansSC-Thin.otf");
}
@font-face {
	font-family: "NotoSans-Regular";
	src: url("../fonts/NotoSansSC-Regular.otf");
}
@font-face {
	font-family: "NotoSans-Medium";
	src: url("../fonts/NotoSansSC-Medium.otf");
}
@font-face {
	font-family: "NotoSans-Bold";
	src: url("../fonts/NotoSans-Bold.ttf");
}
@font-face {
	font-family: "NotoSans-Black";
	src: url("../fonts/NotoSansSC-Black.otf");
}
html,body{
	width: 800px;
	height: 600px;
	margin: auto;
	user-select: none;
}
body{
	overflow: overlay;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
* {
	/* font-family: "Source Han"; */
	font-family: 'Noto Sans SC', sans-serif;
}

::-webkit-scrollbar{
	width: 0;
	background: transparent;
}