@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Source Han";
	src: url("public/fonts/SourceHanSans-VF.ttf.ttc");
}
body{
	overflow: overlay;
}
* {
	font-family: "Source Han";
}

::-webkit-scrollbar{
	width: 0;
	background: transparent;
}